<% pair ||= nil %>

<div class="substrate_container substrate_<%= substrate.id %>">
  <%= image_tag substrate.image.url( :poster ), "data-default" => substrate.image.url( :poster ) %>
  <div class="substrate_tab">
    <a href="<%= zoom_substrate_path substrate %>" class="substrate_tab_zoom" rel="fancybox"></a>
    <a class="substrate_tab_edit"></a>
    <a class="substrate_tab_layer" target="_blank" href="http://nervesynapse.com/compass?substrate_id=<%= substrate.id %>&weave_id=<%= pair.id %>" alt="jump to nervesynapse"></a>
  </div>
</div>
