<!DOCTYPE html>
<html>
<head>
  <title>Metabrane.co - Weave a thread between ...</title>
  <%= render :partial => "layouts/head_includes" %>
  <style>
    html, body {
      height: 100%;
    }
  </style>
</head>
<body id="welcome">
  <div id="wrap">
    <menu>
      <div id="header" class="center">
      <%= image_tag "metabrane_home_logo.png" %>
      <p>
        build narrative environments for idea discovery & creative interplay of meanings.
      </p>
      </div>
      <div id="login" class="center">
        <p>“a fun way to creatively communicate your discoveries"</p>
        <%= image_tag "start_here_tip.png", :id => "start_here" %>
        <%= form_tag url_for(:controller => :personas, :action => :login), :method => :post do %>
          <input placeholder="enter persona" autocomplete="off" name="persona" class="persona"/>
          <%= submit_tag "", :class => "submit" %>
        <% end %>
      </div>
    </menu>
    <div id="content">
      <div class="center">
        <div id="video">
          <%= image_tag "home_video_proxy.jpg", :id => "proxy" %>
          <iframe id="movie" src="http://player.vimeo.com/video/33302732?api=1&player_id=vimeoplayer" width="926" height="520" frameborder="0"></iframe> 
        </div>
        
        <p id="credits">video by <a href="http://notthisbody.com/" target="_blank">notthisbody</a></p>
      </div>
    </div>
  </div>
  <footer>
    <div class="center">
    <span>&copy; 2011 Metabrane</span>
    <span>About</span>
    <span>What's New</span>
    <span>Content Policy</span>
    <span>Terms of Service</span>
    <span>Privacy Policy</span>
    <%= link_to image_tag( "powered_by_plasmiq.png" ), "http://plasmiq.com/", :id => "plasmiq_logo" %>
    </div>
  </footer>
  
</body>
</html>
