<% 
  future = home.travel_future(direction)
  past = home.travel_past(direction)
  sky = weave.newer_metatags.first
  water = weave.older_metatags.first
%> 
<div class="compass">
  <%= compass_connector(direction) %>
  <div class="buttons_layer">
    <%= compass_button( (past) ? past.newer_metatags.first : nil, weave, home, "blue" ) %>
    <%= compass_button( sky,  weave, home, "blue" ) %>
    <%= compass_button( (future) ? future.newer_metatags.first : nil, weave, home, "blue" ) %>

    <%= compass_button( past,   weave, home, "red" ) %>
    <%= compass_button( weave,  weave, home, "red current" ) %>
    <%= compass_button( future, weave, home, "red" ) %>
    
    <%= compass_button( (past) ? past.older_metatags.first : nil,  weave, home, "green" ) %>
    <%= compass_button( water,  weave, home, "green" ) %>
    <%= compass_button( (future) ? future.older_metatags.first : nil,  weave, home, "green" ) %>
  </div>
</div>
<script>
  $(".compass .button:not(.hidden)").tooltip({ 
    showURL: false,
    extraClass: "preview",
    fixPNG: true,
    showBody: "", 
    delay: 400,
    track: true,
    bodyHandler: function() {
      var result = $("<div/>");
      $("#tooltip").attr("class", "preview");
      $("#tooltip").addClass( $(this).attr("class") );
      $.get( $(this).attr("data-preview_url"), {}, function(data) { result.html(data); }, "html");
      return result;
    } 
  });
</script>
