<div id="new_working_pair">
  <%= form_tag :controller => :weaves do %>
    <p>New WorkingPair</p>
    <div class="image">
      <%= label_tag(:image1_url, "Image1 URL") %>
      <%= url_field(:working_pair, :image1_url, :class => "image_url") %>
      <span id="image1_info"></span>
      <img id="new_image1"/>
    </div>
    <div class="image">
      <%= label_tag(:image2_url, "Image2 URL") %>
      <%= url_field(:working_pair,:image2_url, :class => "image_url") %>
      <img id="new_image2"/>
      <span id="image2_info"></span>
    </div>
    <div id="relation">
      <%= label_tag("working_pair[relation]", "Relation") %>
      <br/>
      <%= text_field(:working_pair, :relation) %>
      <br/>
      <%= submit_tag("Create"); %>
    </div>
  <% end %>
</div>
