<div class="subnav">
  <div class="shadow"></div>
  <div class="gauge">
    <a class="home"></a>
    <a class="position"></a>
  </div>
  <div class="metatags">
    <% if metatags.size > 3  %>
      <div class="metatag top">
      </div>
    <% end %>
    <% metatags.each do |metatag| %>
      <div class="metatag metatag_<%= metatag.id %> <%= 'home' if (metatag.id == weave.id) %>">
        <div class="relation">
         <% unless (metatag.id == weave.id) %>
         <%= weave_remote_link distance_from_home(metatags, metatag, weave) ,
           metatag, { :html_class  => 'bullet',:container => home, :html_class => "bullet" } %>
         <% else %>
           <a class="bullet"><span>&nbsp;0</span></a>
         <% end %> 
         <%= metatag.relation %>
        </div>
        <%= weave_options_tag metatag, {:fav => false} %>
        <%= weave_potential_tag metatag %>
      </div>
    <% end %>
    <% if metatags.size > 3 %>
      <div class="metatag bottom">
      </div>
    <% end %>
  </div>
  <% if metatags.size > 3 %>
    <div class="vertical_navigation">
      <a class="up"></a>
      <a class="home" data-target=".metatag_<%= weave.id %>"></a>
      <a class="down"></a>
    </div>
  <% end %>
</div>
