<% if @page == 1 %>
  <div id="timeline_start" class="timeline_end">
  	<span>hello and welcome ... <em>create new weave</em></span>
  	<%= link_to "", {:controller => :weaves, :action => :new} %>
  </div>
<% end %>

<% weaves.each do |weave| %>
  <div class="container" id="container_<%= weave.id %>">
  <%= render :partial => "weaves/weave", :locals => {:pair => weave, :home => weave, :hnav => false, :direction => 0} %>
  </div>
<% end %> 
<div class="timeline_end weaves_loader">
  <span>loading weaves ... </span>
  <%= image_tag "loading_weaves.gif" %>
</div>
<% if @per_page and weaves.size < @per_page %>
  <div id="timeline_end" class="timeline_end">
    <span>hello and welcome ... <em>create new weave</em></span>
    <%= link_to "", {:controller => :weaves, :action => :new} %>
  </div>
<% end %>