<% if @page == 1 %>
  <%= render :partial => 'layouts/new_weave_belt', 
            :locals => { :elementid => "timeline_start"} %>
<% end %>

<% weaves.each do |weave| %>
  <div class="container" id="container_<%= weave.id %>">
  <%= render :partial => "weaves/weave", :locals => {:pair => weave, :home => weave, :hnav => false, :direction => 0} %>
  </div>
<% end %> 
<div class="timeline_end weaves_loader">
  <span>loading weaves ... </span>
  <%= image_tag "loading_weaves.gif" %>
</div>

<% if @per_page and weaves.size < @per_page %>
  <%= render :partial => 'layouts/new_weave_belt', 
            :locals => { :elementid => "timeline_end"} %>
<% end %>