<div class="weave">
  <div class="working_pair" id="working_pair_<%= pair.id %>">
    <div class="loader">
      <%= image_tag "preloader_sequencing.gif" %>
    </div>
    <div class="managment hidden">
      <a class="substrate_delete left"></a>
      <a class="substrate_delete right"></a>
      <div class="url">
        <div class="substrate_url left">
          <%= form_tag url_for(:controller => :substrates, :action => :update, :id => pair.substrate1.id), :method => :put,  :remote => true, :class => "live_update"  do |f|%>
            <textarea class="image_url left"  name="substrate[url]"><%= pair.substrate1.url %></textarea>
            <input type="submit" value="" class="notification left" />
            <%= hidden_field_tag "weave_id", pair.id %>
            <% if @home %>
              <%= hidden_field_tag "home_id", @home.id %>
            <% end %>
          <% end %>
        </div>
        <div class="substrate_url right">
          <%= form_tag url_for(:controller => :substrates, :action => :update, :id => pair.substrate2.id), :method => :put,  :remote => true, :class => "live_update"  do |f|%>
            <textarea class="image_url right" name="substrate[url]"><%= pair.substrate2.url %></textarea>
            <input type="submit" value="" class="notification right" />
            <%= hidden_field_tag "weave_id", pair.id %>
            <% if @home %>
              <%= hidden_field_tag "home_id", @home.id %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="metacodes">
      <div class="substrate_metacodes left">
        <%= metacodes_list( pair.substrate1 ) %>
        <%= form_tag url_for(:controller => :substrates, :action => "update_metacode", :id => pair.substrate1.id), :method => :put,  :remote => true do %>
          <%= hidden_field_tag "metacode", "" %>
          <%= submit_tag("", :class => "submit"); %>
        <% end %> 
      </div>
      <div class="substrate_metacodes right">
        <%= metacodes_list( pair.substrate2 ) %>
        <%= form_tag url_for(:controller => :substrates, :action => "update_metacode", :id => pair.substrate2.id), :method => :put,  :remote => true do %>
          <%= hidden_field_tag "metacode", "" %>
          <%= submit_tag("", :class => "submit"); %>
        <% end %> 
      </div>
    </div>
    <%= form_tag  url_for(:controller => :weaves, :action => :update, :id => pair.id), :remote => true, :method => :put do %>
      <div class="header">
        <%= weave_options_tag pair, {:fav => true, :delete => true, :permalink => true} %>
        
        <% if pair.older.count > 0 || pair.newer.count > 0 %>
        <div class="timeline toggles">
          <a href="" class="timeline_weave"></a>
          <span>view weavement timeline</span>
        </div>
        <% end %>
        
        <br style="clear: both"/>
      </div>
      <div class="content">
        <table>
          <tr>
            <td>
              <div class="object left">
                <%= render :partial => "substrates/substrate", :locals => {:substrate => pair.substrate1} %>
              </div>
            </td>
            <td>
              <div  class="object right">
                <%= render :partial => "substrates/substrate", :locals => {:substrate => pair.substrate2} %>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="relation">
        <span>
          <%= text_field(:working_pair, :relation, :value => pair.relation, :class => "working_pair_relation", :disabled => true, :id => nil, :autocomplete => "off") %>
          <a class="edit_relation"></a>
        </span>
        <%= submit_tag("", :class => "button more_relations"); %>
      </div>
      <% if pair.older.count > 0%>
        <%= link_to content_tag(:span, pair.older.count),
          {:controller => :weaves, :action => :show, :id => pair.id, :direction => -1, :home_id => home_id },
          :remote => true,
          :class => "timearrow leftarrow",
          :id => "olderthan_#{home_id}" %>
      <% end %>
      <% if pair.newer.count > 0%>
        <%= link_to content_tag(:span, pair.newer.count),
          {:controller => :weaves, :action => :show, :id => pair.id, :direction => 1, :home_id => home_id },
          :remote => true,
          :class => "timearrow rightarrow",
          :id => "newerthan_#{home_id}"
        %>
      <% end %>
      <% if @home and @home != pair %>
        <%= link_to content_tag(:span, ""),
          {:controller => :weaves, :action => :show, :id => @home.id },
          :remote => true,
          :class => "homebutton",
          :id => "hometo_#{home_id}"
        %>
        <%= hidden_field_tag "working_pair[home_id]", @home.id %>
      <% end %>
    <% end %>
  </div>
  <%= render :partial => "weaves/subnav", :locals => {:metatags => pair.entangeled_weaves, :home => pair} %>
</div>
