<div class="working_pair" id="working_pair_<%= pair.id %>">
  <div class="managment hidden">
    <a class="substrate_delete left"></a>
    <a class="substrate_delete right"></a>
    <div class="url">
      <div class="substrate_url left">
        <%= form_tag url_for(:controller => :substrates, :action => :update, :id => pair.substrate1.id), :method => :put,  :remote => true, :class => "live_update"  do |f|%>
          <textarea class="image_url left"  name="substrate[url]"><%= pair.image1_url %></textarea>
          <input type="submit" value="" class="notification left" />
          <%= hidden_field_tag "weave_id", pair.id %>
          <% if @home %>
            <%= hidden_field_tag "home_id", @home.id %>
          <% end %>
        <% end %>
      </div>
      <div class="substrate_url right">
        <%= form_tag url_for(:controller => :substrates, :action => :update, :id => pair.substrate2.id), :method => :put,  :remote => true, :class => "live_update"  do |f|%>
          <textarea class="image_url right" name="substrate[url]"><%= pair.image2_url %></textarea>
          <input type="submit" value="" class="notification right" />
          <%= hidden_field_tag "weave_id", pair.id %>
          <% if @home %>
            <%= hidden_field_tag "home_id", @home.id %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= form_tag  url_for(:controller => :weaves, :action => :update, :id => pair.id), :remote => true, :method => :put do %>
    <div class="header">
      <div class="timestamp"><span><span class="status"><%= pair.status_name %></span> <%= time_ago_in_words( pair.updated_at ) %> ago</span></div>
      <% if pair.older.count > 0 || pair.newer.count > 0 %>
      <div class="timeline toggles">
        <a href="" class="timeline_weave"></a>
        <span>view weavement timeline</span>
      </div>
      <% end %>
      <div class="toggles">
      
        <%= link_to '', 
          {:controller => :weaves, :action => :destroy, :id => pair.id}, 
          :confirm => 'Are you sure?', 
          :method => :delete, 
          :remote=> true, 
          :class=>'delete_weave' %>
        
        <%= link_to '', 
          {:controller => :weaves, :action => :favorite, :id => pair.id},
          :method =>  :post,
          :remote => true,
          :taget => '_blank',
          :class=>"favorite_weave favorite_#{pair.favorite?} favorite_#{pair.id}" %>
     
          
        <%= link_to '', 
          {:controller => :weaves, :action => :show, :id => pair.id},
          :taget => "_blank",
          :class=>'permalink_weave' %>
        
      </div>
      <br style="clear: both"/>
    </div>
    <div class="content">
      <table>
        <tr>
          <td>
            <div class="object left">
              <%= render :partial => "substrates/substrate", :locals => {:substrate => pair.substrate1} %>
            </div>
          </td>
          <td>
            <div  class="object right">
              <%= render :partial => "substrates/substrate", :locals => {:substrate => pair.substrate2} %>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="relation">
      <span>
        <%= text_field(:working_pair, :relation, :value => pair.relation, :class => "working_pair_relation", :disabled => true, :id => nil) %>
        <a class="edit_relation"></a>
      </span>
      <%= submit_tag("", :class => "button more_relations"); %>
    </div>
    <% if pair.older.count > 0%>
      <%= link_to content_tag(:span, pair.older.count),
        {:controller => :weaves, :action => :show, :id => pair.id, :direction => -1, :home_id => home_id },
        :remote => true,
        :class => "timearrow leftarrow",
        :id => "olderthan_#{home_id}" %>
    <% end %>
    <% if pair.newer.count > 0%>
      <%= link_to content_tag(:span, pair.newer.count),
        {:controller => :weaves, :action => :show, :id => pair.id, :direction => 1, :home_id => home_id },
        :remote => true,
        :class => "timearrow rightarrow",
        :id => "newerthan_#{home_id}"
      %>
    <% end %>
    <% if @home and @home != pair %>
      <%= link_to content_tag(:span, ""),
        {:controller => :weaves, :action => :show, :id => @home.id },
        :remote => true,
        :class => "homebutton",
        :id => "hometo_#{home_id}"
      %>
      <%= hidden_field_tag "working_pair[home_id]", @home.id %>
    <% end %>
  <% end %>
</div>
