<div class="weave">
  <div class="working_pair" id="working_pair_<%= pair.id %>">
    <div class="loader">
      <%= image_tag "preloader_sequencing.gif" %>
    </div>
    <div class="managment hidden">
      <a class="substrate_delete left"></a>
      <a class="substrate_delete right"></a>
      <div class="url">
        <div class="substrate_url left">
          <%= form_tag url_for(:controller => :substrates, :action => :update, :id => pair.substrate1.id), :method => :put,  :remote => true, :class => "live_update"  do |f|%>
            <textarea class="image_url left typein"  name="substrate[url]"><%= pair.substrate1.url %></textarea>
            <input type="submit" value="" class="notification left" />
            <%= hidden_field_tag "weave_id", pair.id %>
            <% if home %>
              <%= hidden_field_tag "home_id", home.id %>
            <% end %>
          <% end %>
        </div>
        <div class="substrate_url right">
          <%= form_tag url_for(:controller => :substrates, :action => :update, :id => pair.substrate2.id), :method => :put,  :remote => true, :class => "live_update"  do |f|%>
            <textarea class="image_url right typein" name="substrate[url]"><%= pair.substrate2.url %></textarea>
            <input type="submit" value="" class="notification right" />
            <%= hidden_field_tag "weave_id", pair.id %>
            <% if home %>
              <%= hidden_field_tag "home_id", home.id %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="metacodes">
      <div class="substrate_metacodes left">
        <%= metacodes_list( pair.substrate1 ) %>
        <%= form_tag url_for(:controller => :substrates, :action => "update_metacode", :id => pair.substrate1.id), :method => :put,  :remote => true do %>
          <%= hidden_field_tag "metacode", "" %>
          <%= submit_tag("", :class => "submit"); %>
        <% end %> 
      </div>
      <div class="substrate_metacodes right">
        <%= metacodes_list( pair.substrate2 ) %>
        <%= form_tag url_for(:controller => :substrates, :action => "update_metacode", :id => pair.substrate2.id), :method => :put,  :remote => true do %>
          <%= hidden_field_tag "metacode", "" %>
          <%= submit_tag("", :class => "submit"); %>
        <% end %> 
      </div>
    </div>
    <div class="header">
      <%= weave_options_tag pair, {:fav => true, :delete => true, :permalink => true} %>
      
      <% if pair.older.all.size > 0 || pair.newer.all.size > 0 %>
        <div class="timeline toggles">
          <a class="timeline_weave <%= 'active' if hnav %>"></a>
          <span class="<%= 'active' if hnav %>">view weavement timeline</span>
        </div>
        <% unless pair == home %>
        <div class="newhome toggles">
           <%= link_to content_tag(:span, raw("view&nbsp;current&nbsp;as&nbsp;home"), :class => "newhome" ),
            {:controller => :weaves, :action => :show, :id => pair.id,  :container_id => home.id  },
            :remote => true, :class => "live_update"
          %>
        </div>
        <% end %>
      <% end %>
      
      <br style="clear: both"/>
    </div>
    <%= form_tag  url_for(:controller => :weaves, :action => :update, :id => pair.id), :remote => true, :method => :put, :class => "live_update" do %>
      <div class="content">
        <table>
          <tr>
            <td>
              <div class="object left">
                <%= render :partial => "substrates/substrate", :locals => {:substrate => pair.substrate1} %>
              </div>
            </td>
            <td>
              <div  class="object right">
                <%= render :partial => "substrates/substrate", :locals => {:substrate => pair.substrate2} %>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="relation">
        <span>
          <%= text_field(:working_pair, :relation, :value => pair.relation, :class => "working_pair_relation", :id => nil, :autocomplete => "off") %>
          <a class="edit_relation"></a>
        </span>
        <%= submit_tag("", :class => "button more_relations #{"hidden" if pair.metatags.size == 1}"); %>
      </div>
      <div class="horizontal_navigation <%= 'active' if hnav %>">
        <% if home %>
          <% if home.older.all.size + direction >= 1 %>
            <%= weave_remote_link home.older.all.size + direction, home, 
              { 
                :home       => home, 
                :html_class  => 'timearrow leftarrow',
                :direction  => direction - 1
              } %>
          <% end %>
          <% if home.newer.all.size - direction >=  1 %>
            <%= weave_remote_link home.newer.all.size - direction, home, 
              { 
                :home       => home, 
                :html_class  => 'timearrow rightarrow',
                :direction  => direction + 1
              } %>
          <% end %>
        <% end %>
      </div>
      <% if home.id != pair.id %>
        <%= weave_remote_link "", home, {:html_class => 'homebutton'} %>
        <%= hidden_field_tag "working_pair[home_id]", home.id %>
      <% end %>
    <% end %>
  </div>
  <%= render :partial => "weaves/subnav", :locals => {:metatags => pair.metatags, :weave => pair, :home => home} %>
</div>
