<h3><em>create new</em> working pair weave ...</h3>
<div class="working_pair new_weave">
  <%= form_tag  :controller => :weaves, :method => :post do %>
    <div class="managment">
      <a class="substrate_delete left"></a>
      <a class="substrate_delete right"></a>
      <div class="url">
        <div class="substrate_url left">
          <textarea class="image_url left <%= (@wp && @wp.image1_url) ? "typein" : ""%>" id="working_pair_image1_url" name="working_pair[image1_url]"><%= @wp ? @wp.image1_url : "enter image one URL ..." %></textarea>
          <a id="notification_image1" class="notification left"></a>
        </div>
        <div class="substrate_url right">
          <textarea class="image_url right <%= (@wp && @wp.image2_url) ? "typein" : ""%>" id="working_pair_image2_url" name="working_pair[image2_url]"><%= @wp ? @wp.image2_url : "enter image two URL ..." %></textarea>
          <a id="notification_image2" class="notification right"></a>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="timestamp">
        * take as long as you need to be creative ...
      </div>
    </div>
    <div class="content">
      <table>
        <tr>
          <td>
            <div class="object left">
              <div class="image substrate_container">
                <img id="new_image1" <%= @wp ? 'src="'+@wp.image1_url+'"' : '' %> class="left" />
              </div>    
            </div>
          </td>
          <td>
            <div  class="object right">
              <div class="image substrate_container">
                <img id="new_image2" <%= @wp ? 'src="'+@wp.image2_url+'"' : '' %> class="right"/>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="relation">
      <span><%= text_field(:working_pair, :relation, :value => @wp ? @wp.relation : "enter a relation metatag ...", :class => "working_pair_relation active", :autocomplete => "off") %></span>
      <%= submit_tag("", :class => "button submit_weave notification"); %>
    </div>
    <div class="hints">
      <% unless @wp and @wp.image1_url  %>
        <%= image_tag "hint_createWeaves_step1.png", :id => "hint1", :class => "hint left" %>
      <% end %>
      <% unless @wp and @wp.image2_url  %>
        <%= image_tag "hint_createWeaves_step2.png", :id => "hint2", :class => "hint right" %>
      <% end %>
      <% unless @wp and !@wp.relation.empty? %>
        <%= image_tag "hint_createWeaves_step3.png", :id => "hint3" %>
      <% end %>
    </div>
  <% end %>
</div>
