<div class="working_pair">
  <div class="timestamp"><span>created <%= time_ago_in_words( pair.updated_at ) %> ago</span></div>
  <div class="content">
    <div class="object left">
      <%= image_tag pair.object1 %>
    </div>
    <div  class="object right">
      <%= image_tag pair.object2 %>
    </div>
  </div>
  <div class="relation">
    <span><%= pair.relation %></span>
    <a href="/">
      <%= image_tag "btn_clusterList.png" %>
    </a>
  </div>
</div>
