<div class="working_pair" id="working_pair_<%= pair.id %>">
  <div class="timestamp"><span>created <%= time_ago_in_words( pair.updated_at ) %> ago</span></div>
  <div class="content">
    <div class="object left">
      <%= image_tag pair.object1 %>
    </div>
    <div  class="object right">
      <%= image_tag pair.object2 %>
    </div>
  </div>
  <div class="relation">
    <span><%= pair.relation %></span>
    <a href="/">
      <%= image_tag "btn_clusterList.png" %>
    </a>
  </div>
  <% if pair.older.count > 0%>
    <%= link_to content_tag(:span, pair.older.count),
      {:controller => :weaves, :action => :show, :id => pair.id, :direction => -1, :home_id => home_id },
      :remote => true,
      :class => "timearrow leftarrow",
      :id => "olderthan_#{home_id}" %>
  <% end %>
  <% if pair.newer.count > 0%>
    <%= link_to content_tag(:span, pair.newer.count),
      {:controller => :weaves, :action => :show, :id => pair.id, :direction => 1, :home_id => home_id },
      :remote => true,
      :class => "timearrow rightarrow",
      :id => "newerthan_#{home_id}"
    %>
  <% end %>
  <% if @home and @home != pair %>
    <%= link_to content_tag(:span, ""),
      {:controller => :weaves, :action => :show, :id => @home.id },
      :remote => true,
      :class => "homebutton",
      :id => "hometo_#{home_id}"
    %>
  <% end %>
</div>
