<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <% unless @title %>
    <title>Metabrane.co - Weave a thread between ...</title>
  <% else %>
    <title><%= @title %> - The Metabrane.co</title>
  <% end %>
  <%= render :partial => "layouts/head_includes" %>
  <% if @ogimage %>
    <meta property="og:image" content="<%= image_weave_path @wp.id %>" />
  <% end %>
</head>
<body>
<menu>
  <div class="center">
    <h1><a href="<%= welcome_path %>"><span>Metabrane.co</span></a></h1>
    <ul>
      <li>
        <%= menu_element "l_live_infowave", "Live Infowave", weaves_path %>
      </li>
      <!--
      <li>
        <%= menu_element "l_your_weaves", "Your Weaves", {:controller => 'weaves', :action => 'favorites'} %>
      </li>
      -->
      <li>
        <%= menu_element "l_create_weaves", "Create Weaves", {:controller => 'weaves', :action => "new"} %>
      </li>
    </ul>
    <div id='persona_info'>
      Hello <%= @current_user %>! - <%= link_to "logout", :controller => :personas, :action => :logout %>
    </div>
    <div id="submenu">
      <div id="tagline"><%= link_to "weave a thread between", random_weaves_path, :placeholder => "load a random weave" %></div>
      <!--
        <%= render :partial => "layouts/submenu_sorting" %>
      -->
      <%= render :partial => "layouts/submenu_search" %>
    </div>
  </div>
</menu>
<div id="content">
  <%= yield %>
</div>
<footer>
  
</footer>
</body>
</html>
