<!DOCTYPE html>
<html>
<head>
  <title>MetabraneCo</title>
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<menu>
  <ul>
    <li><%= link_to "Live infrowave", :controller => "timeline" %></li>
    <li><%= link_to "Your weaves", :controller => "timeline" %></li>
    <li><%= link_to "New weave", :controller => "weaves", :action => :new %></li>
  </ul>
  <br class="clear"/>
</menu>
<div id="content">
  <%= yield %>
</div>
<footer>
  footer
</footer>
</body>
</html>
