<!DOCTYPE html>
<html>
<head>
  <title>Metabrane.co - Weave a thread between ...</title>
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  
  
  
  <script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/hqAWBNIAD0gavXOFY2oHg.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26904869-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
<menu>
  <div class="center">
    <h1><a href="/"><span>Metabrane.co</span></a></h1>
    <ul>
      <li>
        <%= menu_element "l_live_infowave", "Live Infowave", weaves_path %>
      </li>
      <!--
      <li>
        <%= menu_element "l_your_weaves", "Your Weaves", {:controller => 'weaves', :action => 'favorites'} %>
      </li>
      -->
      <li>
        <%= menu_element "l_create_weaves", "Create Weaves", {:controller => 'weaves', :action => "new"} %>
      </li>
    </ul>
    <div id="submenu">
      <div id="tagline"><%= link_to "weave a thread between ...", random_weaves_path, :placeholder => "click to lucky dip!" %></div>
      <!--
        <%= render :partial => "layouts/submenu_sorting" %>
      -->
      <%= render :partial => "layouts/submenu_search" %>
    </div>
  </div>
</menu>
<div id="content">
  <%= yield %>
</div>
<footer>
  
</footer>
</body>
</html>
